.flex-container{
    display: flex;
    min-height: auto;
    flex-direction: column;
    text-align: center;
    font-family: Montserrat;

}


.container{
    display: flex;
    flex-direction: row;
    height: 500px;
    text-align: center;

}

footer {
    border-radius: 5px;
    display: flex;
    color: white;
    padding: 10px;
    margin: 3px;
    justify-content: space-between;
    background-color: #333338
}

main{
    border: 1px black solid;
    border-radius: 5px;
    padding: 9px;
    margin: 3px;
    background-color: #4286f4;
    overflow-y: auto
}
